{% extends 'layout.html' %}
{% load render_partial %}

{% block title %}
    محصولات
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            {% render_partial 'home_module.views.sidebar' %}
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a> <span class="divider">/</span></li>
                    <li class="active">Products Name</li>
                </ul>
                <h3>
                    Categories
                    {% if len == 0 %}
                        <small class="pull-right"> No product is available </small>
                    {% endif %}

                    {% if len == 1 %}
                        <small class="pull-right"> {{ len }} product is available </small>
                    {% endif %}

                    {% if len != 1 %}
                        <small class="pull-right"> {{ len }} products are available </small>
                    {% endif %}

                </h3>

                <hr class="soft">

                <br class="clr">
                    <div class="tab-pane  active" id="blockView">
                        <ul class="thumbnails">
                            {% for category in categories %}
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href={% url 'products' category.slug %}><img
                                                src="{{ category.image.url }}"
                                                style="width: 100px;"
                                                alt=""></a>
                                        <div class="caption">
                                            <h5>{{ category.title }}</h5>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <br class="clr">
            </div>
        </div>
    </div>

{% endblock %}