{% extends 'layout.html' %}
{% load render_partial %}

{% block title %}
    مقالات
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            {% render_partial 'home_module.views.sidebar' %}
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a> <span class="divider">/</span></li>
                    <li class="active">Blogs</li>
                </ul>
                <h3>Blogs</h3>
                <hr class="soft">
                <div class="tab-content">
                    <div class="tab-pane  active" id="blockView">
                        <ul class="thumbnails">
                            {% for blog in blogs %}
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href={% url 'blog_details' blog.id %}><img
                                                src="{{ blog.image.url }}"
                                                alt=""></a>
                                        <div class="caption">
                                            <h5>{{ blog.title }}</h5>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if permission %}
                    <div class="pagination">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">‹</a></li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                                <li {% if page_obj.number == page %}class="active"{% endif %}><a
                                        href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">›</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                <br class="clr">
            </div>
        </div>
    </div>


{% endblock %}