<header class="user-header">
    <div class="account-head-icon">
        <ul>
            <li>
                <a href="{% url 'logout' %}" class="logout">
                    <i class="fal fa-power-off"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'blogs' %}" class="notify">
                    <i class="fal fa-bell"></i>
                </a>
            </li>
            <li>
                <a href="#" class="setting">
                    <i class="fal fa-cog"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'home' %}" class="home">
                    <i class="fal fa-house-flood"></i>
                </a>
            </li>
        </ul>
    </div>
</header>