<script src="/static/assets/js/plugins/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/plugins/popper.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="/static/assets/js/plugins/jquery.nice-select.min.js"></script>
<script src="/static/assets/js/plugins/swiper-bundle.min.js"></script>
<script src="/static/assets/js/plugins/countdown.min.js"></script>
<script src="/static/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/static/assets/js/plugins/theia-sticky-sidebar.min.js"></script>
<script src="/static/assets/js/plugins/nouislider.min.js"></script>
<script src="/static/assets/js/plugins/wNumb.js"></script>
<!-- JS Template -->
<script src="/static/assets/js/main.js"></script>