<div class="container">
    <div class="row">
        <div class="span3">
            <h5>ACCOUNT</h5>
            <a href="{% url 'login' %}">YOUR ACCOUNT</a>
            <a href="{% url 'login' %}">PERSONAL INFORMATION</a>
            <a href="{% url 'login' %}">ADDRESSES</a>
            <a href="{% url 'login' %}">DISCOUNT</a>
            <a href="{% url 'login' %}">ORDER HISTORY</a>
        </div>
        <div class="span3">
            <h5>INFORMATION</h5>
            <a href="{% url 'contact' %}">CONTACT</a>
            <a href="{% url 'register' %}">REGISTRATION</a>
            <a href="{% url 'blogs' %}">LEGAL NOTICE</a>
            <a href="tac.html">TERMS AND CONDITIONS</a>
            <a href="faq.html">FAQ</a>
        </div>
        <div class="span3">
            <h5>OUR OFFERS</h5>
            <a href="#">NEW PRODUCTS</a>
            <a href="#">TOP SELLERS</a>
            <a href="special_offer.html">SPECIAL OFFERS</a>
            <a href="#">MANUFACTURERS</a>
            <a href="#">SUPPLIERS</a>
        </div>
        <div id="socialMedia" class="span3 pull-right">
            <h5>SOCIAL MEDIA </h5>
            {% for link in links %}
                <a href={{ link.link }}><img width="60" height="60" src="{{ link.image.url }}"
                                             title="facebook"
                                             alt="facebook"></a>
            {% endfor %}
        </div>
    </div>
    <p class="pull-right">© Bootshop</p>
</div><!-- Container End -->
	