<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img
            src="/static/themes/images/ico-cart.png" alt="cart">{{ cart|length }} Items in your cart <span
            class="badge badge-warning pull-right">${{ cart.total }}</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        {% for category in categories %}
        	<li><a href="{% url 'products' category.slug %}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <div class="thumbnail">
        <img src="/static/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera">
        <div class="caption">
            <h5>{{ random_product_1.title }}</h5>
            <h4 style="text-align:center"><a class="btn" href="{% url 'product_details' random_product_1.slug %}"> <i
                    class="icon-zoom-in"></i></a> <a class="btn" onclick="add({{ random_product_1.id }})">Add to <i
                    class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">{{ random_product_2.price }}</a></h4>
        </div>
    </div>
    <br>
    <div class="thumbnail">
        <img src="/static/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>{{ random_product_2.title }}</h5>
            <h4 style="text-align:center"><a class="btn" href="{% url 'product_details' random_product_2.slug %}"> <i
                    class="icon-zoom-in"></i></a> <a class="btn" onclick="add({{ random_product_2.id }})">Add to <i
                    class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">{{ random_product_2.price }}</a></h4>
        </div>
    </div>
    <br>
    <div class="thumbnail">
        <img src="/static/themes/images/payment_methods.png" title="Bootshop Payment Methods"
             alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>
</div>