<div id="sidebar" class="span3">
    <div class="well well-small"><a href="{% url 'cart_summery' %}"><img
            src="/static/themes/images/ico-cart.png" alt="cart">
        <h
                id="cart-quantity-2">{{ cart|length }}</h>
        Items in your cart <span
                class="badge badge-warning pull-right">$<h id="cart-total">{{ cart.get_total }}</h></span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        {% for category in categories %}
            <li><a href="{% url 'products' category.slug %}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <div class="thumbnail">
        <img src="/static/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera">
        <div class="caption">
            <h5>{{ product_1.title }}</h5>
            <h4 style="text-align:center"><a class="btn" href="{% url 'product_details' product_1.slug %}"> <i
                    class="icon-zoom-in"></i></a> <a class="btn btn-primary" href="#">${{ product_1.price }}</a></h4>
        </div>
    </div>
    <br>
    <div class="thumbnail">
        <img src="/static/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>{{ product_2.title }}</h5>
            <h4 style="text-align:center"><a class="btn" href="{% url 'product_details' product_2.slug %}"> <i
                    class="icon-zoom-in"></i></a> <a class="btn btn-primary" href="#">${{ product_2.price }}</a></h4>
        </div>
    </div>
    <br>
    <div class="thumbnail">
        <img src="/static/themes/images/payment_methods.png" title="Bootshop Payment Methods"
             alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>
</div>