<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        {% for slide in slides %}
            {% if slide.id == 1 %}
                <div class="item active">
                    <div class="container">
                        <a href="{% url 'home' %}"><img style="margin-bottom: 20px; width: 100%" src="{{ slide.image.url }}" alt=""></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida
                                at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="item">
                    <div class="container">
                        <a href="{% url 'home' %}"><img style="width:100%; margin-bottom: 20px" src="{{ slide.image.url }}"
                                                     alt="special offers"></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida
                                at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div> 
