{% extends 'layout.html' %}
{% load render_partial %}

{% block title %}
    فراموشی رمزعبور
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
                {% render_partial 'home_module.views.sidebar' %}
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a> <span class="divider">/</span></li>
                    <li class="active">Forget password?</li>
                </ul>
                <h3> FORGET YOUR PASSWORD?</h3>
                <hr class="soft">

                <div class="row">
                    <div class="span9" style="min-height:900px">
                        <div class="well">
                            <h5>Reset your password</h5><br>
                            Please enter the email address for your account. A verification code will be sent to you.
                            Once you have received the verification code, you will be able to choose a new password for
                            your account.<br><br><br>
                            <form method="post">
                                {% csrf_token %}
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail1">Phone</label>
                                    <div class="controls">
                                        <input class="span3" type="text" id="inputEmail1" placeholder="Phone" name="phone">
                                    </div>
                                </div>
                                <div class="controls">
                                    <button type="submit" class="btn block">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}