{% extends 'layout.html' %}
{% load render_partial %}

{% block title %}
    بازیابی رمزعبور
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            {% render_partial 'home_module.views.sidebar' %}
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href={% url 'home' %}>Home</a> <span class="divider">/</span></li>
                    <li class="active">Registration</li>
                </ul>
                <h3> Registration</h3>
                <div class="well">
                    <form class="form-horizontal" method="post">
                        {% if value_error %}
                            <li style="width: 50%; background-color: red; color: white; margin: 15px; text-align: center ">
                                Please Enter Correctly
                            </li>
                        {% endif %}
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn btn-large btn-success" type="submit" value="Submit" style="margin: 15px">
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}